<div>
    <h1 >Verify pg</h1>

<form action="/auth/verify" method="POST">
    <label for="">Enter otp</label>
    <input type="text" name="otp" placeholder="enter otp" required="true">
    <input  type="submit" name="" id="">

</form>

</div>